html {
    width: 100%;
    height: 100%;
}

body {
    background: #464a4e;
    background: linear-gradient(90deg, #464a4e 0%, #212529 80%);
    background: -webkit-linear-gradient(90deg, #464a4e 0%, #212529 80%);
    background: -moz-linear-gradient(90deg, #464a4e 0%, #212529 80%);
}

#content {
    height: 100%;
}

#background-video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.event-img {
    height: 150px;
    width: 150px;
    border-radius: 150px !important;
}

.event-card-img {
    height: 75px;
    width: 75px;
    border-radius: 150px !important;
    color-scheme: red;
}

.fa-star {
    color: gold !important;
}

.review-button-edit {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.875em;
    font-style: italic;
    color: rgba(33, 37, 41, 0.75);
}

.review-button-edit:hover {
    color: gold;
}

.review-button-delete {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.875em;
    font-style: italic;
    color: rgba(33, 37, 41, 0.75);
}

.review-button-delete:hover {
    color: crimson;
}
